<h1>Registration</h1>
<form method="POST">
    <label>First name:</label><br />
    <input type="text" name="firstName"><br />
    <label>Last name:</label><br />
    <input type="text" name="lastName"><br />
    <label>City:</label><br />
    <input type="text" name="city"><br />
    <label>Password:</label><br />
    <input type="text" name="password"><br />
    <label>Gender:</label><br />
    <input type="radio" name="gender"><br />
    <label>Interests:</label><br />
    <input type="text" name="password"><br />
    <input type="submit">
</form>